<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BackTrack Sprint Backlog</title>
  </head>

  <body>
    <h1>Sprint 2</h1>
    <h2>Capacity: {{capacity}}</h2>
    <h3>Remaining: {{ remainingCapacity }}</h3>
    {% block content %}
    {% endblock%}
  </body>
  {% if alert_flag_1 %}
    <script>alert("Total estimation exceeds capacity! This sprint backlog item cannot be added!")</script>  
  {% endif %}
  {% if alert_flag_2 %}
    <script>alert("Total estimation exceeds capacity! No more items can be added! Please remove some items!")</script>  
  {% endif %}
</html>