{% extends 'Sprint_base.html'%}

{% block content%}
<h2>PBI in this sprint</h2>
<table>
    <tr>
        <th>Feature</th>
        <th>Status</th>
        <th>Priority number</th>
        <th>Story point</th>
        <th>User story</th>
        <th>Confirmation</th>
        <th></th>
        <th></th>
    </tr>
    {% for i in PBI %}
    <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.status }}</td>
        <td>{{ i.priority_no }}</td>
        <td>{{ i.story_point }}</td>
        <td>{{ i.user_story }}</td>
        <td>{{ i.confirmation }}</td>
        {% if disableButton or productOwner %}
        <td><a href="add/{{i.id}}"><button disabled>Add Sprint Item</button></a></td>
        {% else %}
        <td><a href="add/{{i.id}}"><button>Add Sprint Item</button></a></td>
        {% endif %}
        {% if i.status == "Finished" or productOwner %}
        <td><a href="pushPBIBack/{{i.id}}"><button disabled>Push Back</button></a></td>
        {% else %}
        <td><a href="pushPBIBack/{{i.id}}"><button>Push Back</button></a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<br>
<br>
<h2>Sprint Items</h2>
<table>
    <tr>
        <th>PBI</th>
        <th>Title</th>
        <th>Status</th>
        <th>Owner</th>
        <th>Estimation (Hours)</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for PBI in PBI %}
    {% for i in item %}
    {% if i.PBI == PBI.id %}
    <tr>
        <td>{{ PBI.name }}</td>
        <td>{{ i.title }}</td>
        <td>{{ i.status }}</td>
        <td>{{ i.owner }}</td>
        <td>{{ i.estimation }}</td>
        {% if i.status == "Pending" and not productOwner %}
        <td><a href="update/{{i.id}}"><button>Update</button></a></td>
        <td><a href="delete/{{i.id}}"><button>Delete</button></a></td>
        <td><a href="setOwner/{{i.id}}"><button>Click to set yourself as owner</button></a></td>
        {% else %}
        <td><a href="update/{{i.id}}"><button disabled>Update</button></a></td>
        <td><a href="delete/{{i.id}}"><button disabled>Delete</button></a></td>
        <td><a href="setOwner/{{i.id}}"><button disabled>Click to set yourself as owner</button></a></td>
        {% endif %}
        
        {% if productOwner %}
        <td><a href="doneSprintItem/{{i.id}}"><button disabled>Done</button></a></td>
        {% elif i.status == "In Progress" or i.status == "Unfinished" %}
        {% if username == i.owner %}
        <td><a href="doneSprintItem/{{i.id}}"><button>Done</button></a></td>
        {% else %}
        <td><a href="doneSprintItem/{{i.id}}"><button disabled>Done</button></a></td>
        {% endif %}
        {% else %}
        <td><a href="doneSprintItem/{{i.id}}"><button disabled>Done</button></a></td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor%}
    {% endfor %}
</table>

<br>
<br>
<h2>Sprint Burndown</h2>
<table>
    <tr>
        <th></th>
        <th>Total Estimation</th>
        <th>Finished Estimation</th>
        <th>Remaining Estimation</th>
    </tr>
    <tr>
        <th align=right>In Hours</th>
        <td>{{ totalEstimation }}</td>
        <td>{{ finishedEstimation }}</td>
        <td>{{ remainingEstimation }}</td>
    </tr>
    <tr>
        <th align=right>In Percentages</th>
        <td>100%</td>
        <td>{{ finishedPercentage }}%</td>
        <td>{{ remainingPercentage }}%</td>
    </tr>
</table>

<br>
<br>
{% if productOwner %}
<a href="endSprint/"><button disabled>End Sprint</button></a>
{% else %}
<a href="endSprint/"><button>End Sprint</button></a>
{% endif %}
<a href="../PBI"><button>Go to Product Backlog</button></a>
{% endblock%}