{% extends 'Sprint_base.html'%}

{% block content%}
<h2>PBIs pending in this sprint</h2>
<table width=75% border="1">
    <tr>
        <th  align=left>Feature</th>
        <th  align=left>Status</th>
        <th  align=left>Priority number</th>
        <th  align=left>Story point</th>
        <th  align=left>User story</th>
        <th  align=left>Confirmation</th>
        <th></th>
        <th></th>
    </tr>
    {% for i in PBI %}
    <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.status }}</td>
        <td>{{ i.priority_no }}</td>
        <td>{{ i.story_point }}</td>
        <td>{{ i.user_story }}</td>
        <td>{{ i.confirmation }}</td>
        {% if disableButton %}
        <td><a href="add/{{i.id}}"><button disabled>Add Sprint Item</button></a></td>
        {% else %}
        <td><a href="add/{{i.id}}"><button>Add Sprint Item</button></a></td>
        {% endif %}
        <td><a href="pushPBIBack/{{i.id}}"><button>Push Back</button></a></td>
    </tr>
    {% endfor %}
</table>

<br>
<br>
<h2>Sprint Backlog</h2>
<table width=75% border="1">
    <tr>
        <th align=left>PBI</th>
        <th align=left>Title</th>
        <th align=left>Status</th>
        <th align=left>Owner</th>
        <th align=left>Estimation (Hours)</th>
        <th></th>
        <th></th>
    </tr>
    {% for PBI in PBI %}
        {% for i in item %}
            {% if i.PBI == PBI.id %}
            <tr>
                <td>{{ PBI.name }}</td>
                <td>{{ i.title }}</td>
                <td>{{ i.status }}</td>
                <td>{{ i.owner }}</td>
                <td>{{ i.estimation }}</td>
                <td><a href="update/{{i.id}}"><button>Update</button></a></td>
                <td><a href="delete/{{i.id}}"><button>Delete</button></a></td>
            </tr>
            {% endif %}
        {% endfor%}
    {% endfor %}
</table>

<br>
<br>
<h2>Sprint Burndown</h2>
<table border="1">
    <tr>
        <th></th>
        <th>Total Estimation</th>
        <th>Finished Estimation</th>
        <th>Remaining Estimation</th>
    </tr>
    <tr>
        <th align=right>In Hours</th>
        <td>{{ totalEstimation }}</td>
        <td>{{ finishedEstimation }}</td>
        <td>{{ remainingEstimation }}</td>
    </tr>
    <tr>
        <th align=right>In Percentages</th>
        <td>100%</td>
        <td>{{ finishedPercentage }}%</td>
        <td>{{ remainingPercentage }}%</td>
    </tr>
</table>

<br>
<br>
<a href="../PBI"><button>Go to Product Backlog</button></a>
{% endblock%}