{% extends 'base.html'%}




{% block content%}


<h4>Upcoming PBIs</h4>
<table width=75%>
  <tr><th align=left>Feature</th>   <th align=left>Status</th>   <th align=left>Priority number</th>   <th align=left>Story point</th> <th align=left>User story</th>   <th align=left>Confirmation</th>  <th></th><th></th></tr>
  
  {% for item in PBI_upcoming %}
    <tr><td>{{ item.name }}</td>   <td>{{ item.status }}</td>   <td>{{ item.priority_no }}</td>   <td>{{item.story_point}}</td>  <td>{{ item.user_story }}</td>   <td>{{item.confirmation}}</td>  <th><a href="detail/{{item.id}}"><button>edit</button></a></th><th><a href="delete/{{item.id}}"><button>delete</button></a></th></tr>
  {% endfor %}
  </table>
  
  <br>
  <br>
  <br>
  <br>
</table>



<h4>All PBIs</h4>
<table width=75%>
<tr><th align=left>Feature</th>   <th align=left>Status</th>   <th align=left>Priority number</th>   <th align=left>Story point</th> <th align=left>User story</th>   <th align=left>Confirmation</th>  <th></th><th></th></tr>

{% for item in PBI_all %}
  <tr><td>{{ item.name }}</td>   <td>{{ item.status }}</td>   <td>{{ item.priority_no }}</td>   <td>{{item.story_point}}</td>  <td>{{ item.user_story }}</td>   <td>{{item.confirmation}}</td>  <th><a href="detail/{{item.id}}"><button>edit</button></a></th><th><a href="delete/{{item.id}}"><button>delete</button></a></th></tr>
{% endfor %}
</table>

<br>
<br>
<br>
<br>
<a href="add/"><button>Add PBI</button></a>
{% endblock%}
