{% extends 'main.html'%}



{% block content%}
<form method='POST'> {% csrf_token %}
<!--
<input type='hidden'  id='id' value="{{placeholder.id}}">
Feature <input type='text' id='feature' value="{{placeholder.feature}}"><br>
Status <input type='text' id='status' value="{{placeholder.status}}"><br>
Priority <input type='text' id='priority' value="{{placeholder.priority}}"><br>
Story Point <input type='text' id='story_point' value="{{placeholder.story_point}}">

-->


{{ form.as_p }}
<input type='submit' value='Save'/>
<!-- <button formaction="../PBI/">Button</button> -->
</form>
<a href="../">Back to main page</a>
{% endblock%}
